@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800);.rangeSlider,.rangeSlider__fill{display:block;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 3px rgba(0,0,0,.3);border-radius:10px}.rangeSlider{position:relative;background:#7f8c8d}.rangeSlider__horizontal{height:12px;width:100%}.rangeSlider__vertical{height:100%;width:20px}.rangeSlider--disabled{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity:.4}.rangeSlider__fill{background:#fc0087;position:absolute;z-index:2}.rangeSlider__fill__horizontal{height:100%;top:0;left:0}.rangeSlider__fill__vertical{width:100%;bottom:0;left:0}.rangeSlider__handle{border:1px solid #fff;cursor:pointer;display:inline-block;width:25px;height:25px;position:absolute;z-index:3;background:#fff -webkit-gradient(linear,left top, left bottom,from(#da648a),to(#a7619c));background:#fff linear-gradient(#da648a,#a7619c);-webkit-box-shadow:0 0 8px rgba(0,0,0,.3);box-shadow:0 0 8px rgba(0,0,0,.3);border-radius:50%}.rangeSlider__handle__horizontal{top:-6px}.rangeSlider__handle__vertical{left:-6px;bottom:0}.rangeSlider__handle:after{content:"";display:block;width:18px;height:18px;margin:auto;position:absolute;top:0;right:0;bottom:0;left:0;background-image:-webkit-gradient(linear,left top, left bottom,from(#a7619c),to(#da648a));background-image:linear-gradient(#a7619c,#da648a);border-radius:50%}.rangeSlider__handle:active{background-image:-webkit-gradient(linear,left top, left bottom,from(#a7619c),to(#da648a));background-image:linear-gradient(#a7619c,#da648a)}input[type=range]:focus+.rangeSlider .rangeSlider__handle{-webkit-box-shadow:0 0 8px rgba(142,68,173,.9);box-shadow:0 0 8px rgba(142,68,173,.9)}.rangeSlider__buffer{z-index:1;position:absolute;top:3px;height:14px;background:#2c3e50;border-radius:10px}/* media setting start */
/* border radius */
.comparator {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
  font-family: Raleway, "Helvetica Neue", helvetica, arial, sans-serif;
}

.comparator a.btn {
  word-break: break-all;
  background: #db688d;
  background: -webkit-gradient(linear, left top, right top, from(#db688d), to(#a7619c));
  background: linear-gradient(to right, #db688d, #a7619c);
  color: #fff;
  height: 52px;
  line-height: 52px;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  border-radius: 26px;
}

.comparator a.btn:hover {
  background-color: #f57a1d;
}

.comparator a.btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

@media (max-width: 767px) {
  .comparator a.btn {
    margin-top: 15px;
    padding: 0 30px;
  }
}

.comparator .input-group {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.comparator .input-group > input:first-child {
  margin-right: -1px;
}

.comparator .input-group > input:not(:last-child) {
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.comparator .input-group > input:not(:first-child) {
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.comparator .visible-xs {
  display: none;
}

.comparator .comparator-results, .comparator .block {
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100px;
}

.comparator .comparator-results .cell, .comparator .block .cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  padding: 30px 10px;
  overflow: hidden;
  list-style: none;
}

.comparator .comparator-results .cell.button, .comparator .block .cell.button {
  padding: 20px 10px;
}

.comparator .comparator-results .cell strong, .comparator .block .cell strong {
  font-size: 14px;
  font-weight: 600;
  color: #a7619c;
}

.comparator .comparator-results .cell p, .comparator .block .cell p {
  margin-bottom: 0;
}

.comparator .comparator-results .filler, .comparator .block .filler {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: none;
}

.comparator .comparator-results .block, .comparator .block .block {
  border: 1px solid #e6dbe5;
  border-radius: 3px;
  margin-bottom: 20px;
}

.comparator .comparator-results .block:nth-child(2n+1):not(.block-head), .comparator .block .block:nth-child(2n+1):not(.block-head) {
  background-color: #f7ecf1;
}

.comparator .comparator-results .block:not(.block-head):hover, .comparator .block .block:not(.block-head):hover {
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.comparator .comparator-results .block.block-head, .comparator .block .block.block-head {
  color: #a7619c;
  font-weight: bold;
  border: none;
  height: 50px;
}

.comparator .comparator-results.cols--1 .cell, .comparator .block.cols--1 .cell {
  width: calc(100% / 1);
}

.comparator .comparator-results.cols--1 .cell-double, .comparator .block.cols--1 .cell-double {
  width: calc(200% / 1);
}

.comparator .comparator-results.cols--2 .cell, .comparator .block.cols--2 .cell {
  width: calc(100% / 2);
}

.comparator .comparator-results.cols--2 .cell-double, .comparator .block.cols--2 .cell-double {
  width: calc(200% / 2);
}

.comparator .comparator-results.cols--3 .cell, .comparator .block.cols--3 .cell {
  width: calc(100% / 3);
}

.comparator .comparator-results.cols--3 .cell-double, .comparator .block.cols--3 .cell-double {
  width: calc(200% / 3);
}

.comparator .comparator-results.cols--4 .cell, .comparator .block.cols--4 .cell {
  width: calc(100% / 4);
}

.comparator .comparator-results.cols--4 .cell-double, .comparator .block.cols--4 .cell-double {
  width: calc(200% / 4);
}

.comparator .comparator-results.cols--5 .cell, .comparator .block.cols--5 .cell {
  width: calc(100% / 5);
}

.comparator .comparator-results.cols--5 .cell-double, .comparator .block.cols--5 .cell-double {
  width: calc(200% / 5);
}

.comparator .comparator-results.cols--6 .cell, .comparator .block.cols--6 .cell {
  width: calc(100% / 6);
}

.comparator .comparator-results.cols--6 .cell-double, .comparator .block.cols--6 .cell-double {
  width: calc(200% / 6);
}

.comparator .comparator-results.cols--7 .cell, .comparator .block.cols--7 .cell {
  width: calc(100% / 7);
}

.comparator .comparator-results.cols--7 .cell-double, .comparator .block.cols--7 .cell-double {
  width: calc(200% / 7);
}

.comparator .comparator-results.cols--8 .cell, .comparator .block.cols--8 .cell {
  width: calc(100% / 8);
}

.comparator .comparator-results.cols--8 .cell-double, .comparator .block.cols--8 .cell-double {
  width: calc(200% / 8);
}

.comparator .comparator-results.cols--9 .cell, .comparator .block.cols--9 .cell {
  width: calc(100% / 9);
}

.comparator .comparator-results.cols--9 .cell-double, .comparator .block.cols--9 .cell-double {
  width: calc(200% / 9);
}

.comparator .comparator-results.cols--10 .cell, .comparator .block.cols--10 .cell {
  width: calc(100% / 10);
}

.comparator .comparator-results.cols--10 .cell-double, .comparator .block.cols--10 .cell-double {
  width: calc(200% / 10);
}

.comparator .comparator-results.cols--11 .cell, .comparator .block.cols--11 .cell {
  width: calc(100% / 11);
}

.comparator .comparator-results.cols--11 .cell-double, .comparator .block.cols--11 .cell-double {
  width: calc(200% / 11);
}

.comparator .comparator-results .cell.cell-full-width, .comparator .block .cell.cell-full-width {
  width: 100% !important;
  -webkit-box-flex: 1 !important;
  -moz-flex-grow: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  -ms-flex-preferred-size: 100% !important;
  flex-basis: 100% !important;
}

.comparator .comparator-results .open, .comparator .block .open {
  display: none;
}

.comparator .comparator-results img, .comparator .block img {
  max-height: 100px;
}

@media (max-width: 767px) {
  .comparator .comparator-results, .comparator .block {
    height: auto;
  }
  .comparator .comparator-results .filler, .comparator .block .filler {
    display: block;
  }
  .comparator .comparator-results .cell, .comparator .comparator-results .cell.button, .comparator .block .cell, .comparator .block .cell.button {
    padding: 0 0 5px;
  }
  .comparator .comparator-results .cell.cell-no-padding-xs, .comparator .comparator-results .cell.button.cell-no-padding-xs, .comparator .block .cell.cell-no-padding-xs, .comparator .block .cell.button.cell-no-padding-xs {
    padding-bottom: 0;
  }
  .comparator .comparator-results img, .comparator .block img {
    max-width: 80%;
  }
  .comparator .comparator-results .block, .comparator .block .block {
    padding: 25px 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .comparator .comparator-results .block-head, .comparator .block .block-head {
    display: none;
  }
  .comparator .comparator-results.cols--1 .cell, .comparator .block.cols--1 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--2 .cell, .comparator .block.cols--2 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--3 .cell, .comparator .block.cols--3 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--4 .cell, .comparator .block.cols--4 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--5 .cell, .comparator .block.cols--5 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--6 .cell, .comparator .block.cols--6 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--7 .cell, .comparator .block.cols--7 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--8 .cell, .comparator .block.cols--8 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--9 .cell, .comparator .block.cols--9 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--10 .cell, .comparator .block.cols--10 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .comparator .comparator-results.cols--11 .cell, .comparator .block.cols--11 .cell {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

.comparator-filter {
  min-width: 370px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 25px 0 20px;
  background: url("../images/filter-bg.png") no-repeat left top;
  border-radius: 3px;
}

.comparator-filter h1, .comparator-filter h2, .comparator-filter h3, .comparator-filter h4, .comparator-filter h5, .comparator-filter h6, .comparator-filter p, .comparator-filter label, .comparator-filter span {
  color: #fff;
}

.comparator-filter .title {
  font-weight: 800;
  font-size: 20px;
}

.comparator-filter label {
  color: #f6dde5;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}

.comparator-filter .filter-group {
  padding: 0 30px;
}

.comparator-filter hr {
  margin: 25px 0;
  border: 0;
  border-top: 1px solid #d6809f;
  background: transparent;
}

.comparator-filter input, .comparator-filter select {
  margin-bottom: 20px;
  background: #fff;
  border-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #737373;
  padding-left: 22px;
  height: 50px;
  line-height: 50px;
  font-family: Raleway, "Helvetica Neue", helvetica, arial, sans-serif;
  width: 100%;
  border-radius: 3px !important;
}

.comparator-filter input:focus, .comparator-filter select:focus {
  outline: 0;
}

.comparator-filter .input-group {
  width: 100%;
}

.comparator-filter input {
  border-width: 1px !important;
}

.comparator-filter input:disabled {
  background: #e9c9dc;
  border-color: #e9c9dc;
  color: #da648a;
}

.comparator-filter .range-limit {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .comparator-filter {
    width: 100%;
    margin-right: 0;
    min-width: auto;
  }
  .comparator-filter select {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .comparator {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  .comparator .comparator-results img {
    max-height: 50px;
  }
}

.visible-xs {
  display: none !important;
}

@media (max-width: 1000px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: inline-block !important;
  }
}
